<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1px solid black " cellpadding="10px">
        <thead>
            <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PASSWORD</th>
                <th>CONTACT</th>
                <th>DELETE</th>
                <th>EDIT</th>
            </tr>
        </thead>
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.password}}</td>
            <td>{{i.contact}}</td>
            <td><a href="/delete/{{i.id}}">delete</a></td>
            <td><a href="{% url 'update' i.id %}">edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>